body{
    padding:50px;
}

.jumbotron{
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    color: inherit;
    background-image: url(../images/jumbotron_back.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 350px;
        padding: 0;
}

.jumbotron h1 {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 50px;
    color: #DDFF57;
    padding-left: 40px;
    padding-top: 240px
}
.jumbotron p {
    position: absolute;
    display: block;
    color: #DDFF57;
    font-size: 20px;
    padding-left:40px;
}